th{
  padding: 9px;
  color: white;
}

th:hover{
  cursor: pointer;
}

tbody > tr > td {
  text-align: center;
  padding: 9px;
  border-bottom: 1px solid grey;
  min-width: 113px;
}

.ant-select-selector{
  line-height: 1.5715 !important;
}

.ant-select-item:hover{
  cursor: pointer !important;
}